
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    color: #444444;
    font-size: 14px;
    background: #FFF4F3;
  }
  
  .footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #FF6337;
    color: #fff;
    line-height: 18px;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    background: #1c84e3;
    color: #fff;
    text-decoration: none;
  }
  
  
 

  